*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
      background: #1e1e1e;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.calculator{
    background: #222;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000
}

#display{
    width: 100%;
    height: 60px;
    background: #000;
    color: #0f0;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.buttons{
    display: grid;
    grid-template-columns:repeat(4, 70px);
    gap: 10px;
}

.btn{
       width: 70px;
    height: 70px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.2s; 
}

.btn:hover{
    background: #444;
}

.operator{
    background: #ff9500;
}

.operator:hover{
    background: #e08600;
}

.clear{
    background: #ff3b30;
}

.clear:hover{
    background: #e03228;
}

.equals{
    background: #34c759;
    grid-row: span 2;
}

.equals:hover{
    background: #28a745;
}

.zero{
    grid-column: span 2;
}
